
  
  /* Grid container for all sliders */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    gap: 50px;
    padding: 10px;
  }

  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .slider-wrapper h3,
    .slider-wrapper p {
      left: 30px;
      width: calc(50% - 20px);
    }
  
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
  /* Hero section styles */
  .hero {
    background: linear-gradient(45deg, rgb(251, 201, 135), rgb(204, 179, 132));/* Dark gray background color */
    padding: 20px;
  }
  .Welcome {
    color: white;
    font-size: 32px; /* Adjust the font size as needed */
    /* You can also add additional styling properties here */
  }
  .Paragraph {
    color: rgb(29, 23, 23);
    font-size: 18px; /* Adjust the font size as needed */
    /* You can also add additional styling properties here */
  }
  
  /* Home background styles */
  .home {
    background-attachment: fixed;
    color: white;
  }
  /* Shared styles for all slider items */
.slider-container .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Adjust height as needed */
    text-align: center;
    background: #fffefe; /* Or any background color you want for the slides */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow to each slide */
  }
  
  .slider-container img {
    max-height: 100%; /* Adjust based on your needs */
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  .slider-title {
    font-size: 24px; /* Example font size */
    text-align: center; /* Center the title */
    color: rgb(0, 0, 0); /* Example color */
    background-color: #b97c19;
    margin-bottom: 20px; /* Space between the title and the slider */
    transition: color 0.3s ease;
  }

  .slider-title:hover {
    color: rgb(255, 255, 255); /* Color changes to red on hover */
    cursor: pointer; /* Changes the mouse cursor to indicate it's clickable */
  }
  .slider-wrapper {
    position: relative;
    background-size: cover;
    background-position: center;
  }
  
  .slide-caption {
    position: absolute;
    bottom: 10px; /* Position from the bottom of the .slider-wrapper */
    left: 10px; /* Position from the left of the .slider-wrapper */
    right: 10px; /* Position from the right of the .slider-wrapper */
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the background as needed */
  }

.slide-title,
.slide-description {
  margin: 0 auto; /* Center the text blocks */
  display: block; /* This can help with alignment issues */
}