/* Header.css */

.header {
  display: flex;
  flex-direction: column; /* Stack logo and navigation vertically */
  align-items: center; /* Center-align items horizontally */
  background: linear-gradient(45deg,rgb(76, 76, 75),rgb(42, 42, 40),rgb(76, 76, 75)) /* Set the background color */
}

.header-logo-link {
  margin-bottom: 20px; /* Space between logo and navigation links */
}

.header-nav {
  width: 100%; /* Full width to contain the navigation links */
  background-color: #6c5e3c; /* Set the background color */
  font-size: 20px;
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center navigation items horizontally */
  padding: 0;
  gap: 20px; /* Space between navigation items */
}

.header li a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
}

.header li a:hover {
  color: yellow;
}

/* Responsive navigation */
@media screen and (max-width: 768px) {
  .header {
    padding-top: 10px;
  }

  .header-logo-link {
    margin-bottom: 10px;
  }

  .header ul {
    display: none; /* Hide the navigation initially */
  }

  .header.responsive ul {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the responsive navigation items */
  }

  .icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
  }
}

.header .icon {
  display: none; /* Hide icon initially */
}

.header-logo {
  width: 110px; /* Set the logo size */
  height: auto;
}
